html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  /* background-image: url('./images/bg-pattern.png'); */
}
.checkbox-dark{
  background-color: rgb(85, 85, 173);
}
.checkbox-ligth{
  background-color: rgb(231, 231, 238);
}
.posts{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 700px;
  margin: 0 auto;
  list-style: none;
}
.news-item{
  width: 300px;
  text-align: center;
  border: 1px solid palevioletred;
}